<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="tags" [rows]="10" [paginator]="true" [globalFilterFields]="['name']" responsiveLayout="scroll"
        [(selection)]="selectedTags" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="tickets">Nombres de tickets <p-sortIcon field="tickets"></p-sortIcon></th>
                <th pSortableColumn="created_at"> Date de creation<p-sortIcon field="created_at"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tag>
            <tr>
                <td>
                    <p-tableCheckbox [value]="tag"></p-tableCheckbox>
                </td>
                <td>{{tag.index}}</td>
                <td>{{tag.name}}</td>
                <td>{{tag.description}}</td>
                <td>{{tag.tickets}}</td>
                <td>{{tag.created_at}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTag(tag)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTag(tag)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{tags ? tags.length : 0 }} Tags.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="tagDialog" [style]="{width: '450px'}" header="Tags Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="tag.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !tag.name">Name is required.</small>
        </div>

        <div>
        <label for="tag.description">Description</label>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tag.description"></textarea>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTag()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="tagCreate" [style]="{width: '450px'}" header="Création Tags" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      <div class="field">
          <label for="tag.name">Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="tag.name" required autofocus />
          <small class="p-error" *ngIf="submitted && !tag.name">Name is required.</small>
      </div>

      <div>
      <label for="tag.description">Description</label>
      <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tag.description"></textarea>
      </div>

  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Add" icon="pi pi-check" class="p-button-text" (click)="createTag()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
